.loader-box {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #80808038;
    width: 100%;
    height: 100%;
    z-index: 999;
  }
  .loader-box > .loader {
    position: absolute;
    margin:auto;
    background: rgb(5,50,241);
    background: linear-gradient(90deg, rgba(5,50,241,0.8748541652989321) 40%, rgba(252,176,69,1) 95%);
    top:0;
    bottom: 0;
    left:0;
    right: 0;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: scale(0.2)
    }
    20%{
      transform: scale(0.4)
    }
    40%{
      transform: scale(0.6)
    }
    60%{
      transform: scale(0.8)
    }
    80%{
      transform: scale(0.9)
    }
    90%{
      transform: scale(1.0)
    }
    100% {
      transform: scale(1.2);
    }
  }
  