.form-area{
    padding: 10px;
    display: inline-block;
    flex:0 0 20%;
    border-top-left-radius: 20%;
    
  }
@media screen and (max-width:1024px){
  .form-area{
    flex:0 0 30%;
  }
}

@media screen and (max-width:710px){
  .form-area{
    
    margin: 0px;
    padding: 0px;
    height:200px;
  }
}

.error{
  color: red;
  margin: 5px;
}
