.app {
  margin:0;
  padding: 0;
  font-size: 17px;
}

.content{
  margin-left: 20px;
  margin-right: 20px;
  height:95vh;
  box-shadow: 5px 5px 5px 5px gray;
  position: relative;
  display: flex;
  border-radius: 20px;
}

@media screen and (max-width:600px){
  .content{
    margin:0px;
    }
}