.app {
  margin:0;
  padding: 0;
  font-size: 17px;
}

.content{
  margin-left: 20px;
  margin-right: 20px;
  height:100vh;
  box-shadow: 5px 5px 5px gray;
  position: relative;
  display: flex;
  border-radius: 20px;
}

@media screen and (max-width:600px){
  .content{
    margin:0px;
    }
}


.loader{
   
  min-height: 250px;
  background-color: red;
  padding: 10px;
  z-index: 6;
  display: inline;
  position: absolute;
  top:0;
  left:0;  
  right: 65%;
  opacity: 1.0;
  bottom:90%;  
  min-width:200px;
  opacity: 0.5;
}