.input-group-addon {
    background-color: #ffffff;
    border: unset;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    visibility: hidden;
    display: inline;
    margin:0px; 
  }
  
  .visible {
    visibility: visible;
  }
  