/*block class for form */
.form-area {
  padding: 20px;
}

/* clear button placement*/
.clear-button-placement {
  margin-left: -26px;
}

/*bootstrap css override*/
.mt-1 {
  margin-top: 5px;
}

.mt-2 {
  margin-top: 10px;
}
/*bootstrap css override*/
